header {
    background-color: #002776;
    color: white;
    text-align: center;
    padding: 3px;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

section {
    background-color: #f0f0f0;
    padding: 10px;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.bottom {
    display: inline-block;
    background-color: transparent;
    border: 3px solid black;
    padding: 10px;
    margin: 5px;
    width: 150px;
    height: 25px;
    text-align: center;
    border-radius: 40px;
    transition: black, 0.5 ;
    color: #002776;
    text-decoration: black;
    position: relative;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border: 4px solid;
   
}





.bottom:hover {

background-color: white;

}

a {

    color: #002776 ;
    font-size: 23px;
    
    
    
    }



